@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* share styles */

.inter-font {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.container {
  width: 84%;
  max-width: 1340px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

.btn {
  padding: 12px 16px;
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.btn:hover {
  background: linear-gradient(90deg, #f7e83f8a, #fb09b2b2, #9100f8b9);
}

.gradient-bg {
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}

.gradient-text {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* main styles */
/* header  section */
header {
  background-color: #1a0b2e;
  border: 1px solid saddlebrown;
}

.logo h1 {
  color: #ffffff;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px;
}
.mobile-nav {
  display: none;
}

.menu {
  list-style: none;
  gap: 32px;
}
.menu li a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

/* banner section */
.banner {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 100px 0px;
  background-position: center;
}
.banner-logo {
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-logo img:first-child {
  width: 350px;
}
.banner-micro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}

.banner-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.banner-content h2 {
  font-size: 3.75rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 8px;
}
.banner-content p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 8px;
}

.banner-btn {
  gap: 20px;
  margin-top: 20px;
}

.btn-listen {
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.btn-subscribe {
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: none;
  border: 1px solid #00ff88;
}
.btn-subscribe-text {
  color: #00ff88;
}
.badge {
  position: absolute;
  background-color: #00ff88;
  border: none;
  padding: 15px;
  border-radius: 25px;
  left: 54%;
  top: -2px;
  font-size: 1rem;
  cursor: pointer;
}

/* About the Podcast */
main > section {
  padding-top: 100px;
  padding-bottom: 100px;
}
#podcast {
  background-color: #1a0b2e;
}
.podcast-container {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.podcast-content {
  text-align: center;
  max-width: 571px;
}
.podcast-content h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 16px;
}
.podcast-content p {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}
.podcast-card-box {
  margin-top: 160px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 80px;
}

.podcast-card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.podcast-card h2 {
  color: #00ff88;
  font-size: 3rem;
  font-weight: 700;
}
.podcast-card p {
  color: #ffffff;
  font-size: 1rem;
}

/* Why Choose TechWave */

#tecwave {
  background-color: #230e3d;
}
.techwave-content,
.episod-content,
.meet-content {
  text-align: center;
}

.techwave-content h2,
.episod-content h2,
.meet-content h2 {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 40px;
}
.techwave-card-box {
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
}
.row-span2 {
  grid-row: span 2;
}

.column-span2 {
  grid-column: span 2;
}

.techwave-card {
  padding: 40px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  text-align: left;
  border-radius: 40px;
  background-color: #351165;
}
.techwave-card-img img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}
.techwave-card-img h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 16px;
}
.techwave-card-img p {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
}

/* Featured Episodes */
#episod,
#meet {
  background-color: #1a0b2e;
}
.episod-box {
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.episod-card {
  background-color: #250d44;
  flex-direction: column;
  gap: 10px;
}
.episod-card iframe {
  border-radius: 25px;
  width: 100%;
}
.episod-card h3 {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 700;
}
.episod-card p {
  color: #ffffff;
  font-size: 1rem;
}
.episod-time {
  align-items: center;
  gap: 6px;
}
.episod-video-content {
  padding: 24px;
  flex-direction: column;
  gap: 10px;
}
/* Meet the Host */
.meet-content-box {
  gap: 24px;
  background-color: #250d44;
  padding: 40px;
  border-radius: 25px;
}
.alex-img img {
  width: 100%;
}
.alex-description {
  flex-direction: column;
  gap: 16px;
}
.alex-description h3 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 700;
}
.alex-description p {
  color: #ffffff;
  font-size: 1rem;
}
.alex-social {
  gap: 25px;
}
footer {
  background-image: url(/assets/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 412px;
}
.footer-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0px;
}
.footer-logo {
  font-size: 3rem;
  margin-bottom: 24px;
}
.footer-social {
  gap: 40px;
  margin-bottom: 32px;
}

.social-icon {
  gap: 6px;
}
.social-icon span {
  color: #fafafa;
  font-size: 1rem;
}
.footer-container p {
  color: #fafafa;
  font-size: 1rem;
}

/* =====================
   Responsive Devices
===================== */

@media screen and (max-width: 2500px) {
}
/* Large Desktop / Laptop */
@media screen and (max-width: 1200px) {
  .alex-img img {
    width: 200px;
    height: 200px;
  }
}

/* Large Laptop */
@media screen and (max-width: 1024px) {
  .alex-img img {
    width: 200px;
    height: 200px;
  }
}

/* Tablet (Landscape) */
@media screen and (max-width: 992px) {
  .episod-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .alex-img img {
    width: 200px;
    height: 200px;
  }
}

/* Tablet / Mobile (Portrait) */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }
  .menu {
    gap: 15px;
  }
  .banner {
    padding: 50px 0px;
  }
  .banner-logo img:first-child {
    width: 250px;
  }
  .banner-micro {
    width: 70px;
  }
  main > section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .podcast-card-box {
    margin-top: 70px;
  }
  .podcast-card-box {
    grid-template-columns: repeat(2, 1fr);
  }
  .techwave-content h2,
  .episod-content h2,
  .meet-content h2 {
    font-size: 2.5rem;
  }
  .techwave-card-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-span2 {
    grid-row: span 1;
  }
  .column-span2 {
    grid-column: span 1;
  }
  .episod-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .meet-content-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .alex-description {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer {
    width: 100%;
  }
  .footer-container {
    padding: 90px 0px;
  }
  .footer-logo {
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .footer-social {
    flex-wrap: wrap;
    gap: 25px;
    max-width: 250px;
    align-items: center;
    justify-content: center;
  }
}
/* Mobile */
@media screen and (max-width: 576px) {
  main > section {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .desktop-nav {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .hamburger-menu img {
    height: 24px;
    width: 24px;
  }
  .banner {
    width: 100%;
  }

  .podcast-card-box {
    margin-top: 100px;
    grid-template-columns: repeat(2, 1fr);
  }
  .techwave-content h2,
  .episod-content h2,
  .meet-content h2 {
    font-size: 2.5rem;
  }
  .techwave-card-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .row-span2 {
    grid-row: span 1;
  }
  .column-span2 {
    grid-column: span 1;
  }
  .episod-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .meet-content-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .alex-description {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  footer {
    width: 100%;
  }
  .footer-container {
    padding: 90px 0px;
  }
  .footer-logo {
    font-size: 2rem;
    margin-bottom: 24px;
  }
  .footer-social {
    flex-wrap: wrap;
    gap: 25px;
    max-width: 250px;
    align-items: center;
    justify-content: center;
  }
}

/* Small Mobile (Very small devices) */
@media screen and (max-width: 350px) {
  .mobile-nav {
    display: flex;
  }
  .hamburger-menu img {
    height: 24px;
    width: 24px;
  }
  .banner-logo img:first-child {
    width: 200px;
  }
  .banner-content h2 {
    font-size: 3rem;
  }
  .podcast-content h2 {
    font-size: 2rem;
  }
  .podcast-card h2 {
    font-size: 2rem;
  }
  .techwave-content h2,
  .episod-content h2,
  .meet-content h2 {
    font-size: 2rem;
  }
  .techwave-card-img p {
    font-size: 0.8rem;
  }
}
