@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* share styles */

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
}
.container {
  width: 91%;
  max-width: 1240px;
  margin: 0 auto;
}

.display-flex {
  display: flex;
}

.display-grid {
  display: grid;
}

.btn {
  padding: 12px 16px;
  border-radius: 30px;
  cursor: pointer;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}
/* main styles */
/* header  section */
header {
  background-color: #1a0b2e;
}

.logo h1 {
  color: #ffffff;
}

.gradient-bg {
  background: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
}

.gradient-text {
  background: linear-gradient(90deg, #f7e93f, #fb09b4, #9100f8);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

nav {
  justify-content: space-between;
  align-items: center;
  padding: 36px 0px;
  border-image: linear-gradient(to right, #f7e93f 0%, #fb09b4 51%, #9100f8 100%)
    1;
}
.menu {
  list-style: none;
  gap: 32px;
}
.menu li a {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

/* banner section */
.banner {
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  padding: 100px 0px;
}
.banner-logo {
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-logo img:first-child {
  width: 350px;
}
.banner-micro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;
}

.banner-content {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.banner-content h2 {
  font-size: 3.75rem;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 8px;
}
.banner-content p {
  font-size: 1rem;
  color: #ffffff;
  margin-bottom: 8px;
}

.banner-btn {
  gap: 20px;
  margin-top: 20px;
}

.btn-listen {
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.btn-subscribe {
  justify-content: center;
  align-items: center;
  gap: 6px;
  background: none;
  border: 1px solid #00ff88;
}
.btn-subscribe-text {
  color: #00ff88;
}
.badge {
  position: absolute;
  background-color: #00ff88;
  border: none;
  padding: 15px;
  border-radius: 30px;
  left: 54%;
  top: -2px;
  font-size: 1rem;
}
